*, :before, :after {
  box-sizing: border-box;
}

html {
  font-family: 'Montserrat';
  /* background-color: rgb(18, 32, 37); */
}

a {
  text-decoration: none;
  color: black;
  transition: 0.2s;
}

a:hover {
  color: rgb(207, 175, 244);
  transition: 0.2s;
}

/* HEADER */


header {
  width: 100%;
  padding: .25em 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  background-color: rgba(207, 175, 244, 0.7);
  transition: top 0.3s;
}

nav {
  position: relative;
  top: 0;
  right: 0;
  display: inline-block;
}

nav p {
  text-align: left;
}

nav ul {
  list-style-type: none;
  padding: 1.5em;
  margin: 0;
  text-align: right;
}

nav li {
  display: inline;
  padding: 0 .5em;
}

.hero-container {
  padding: 0 1.5em;
  /* display: inline-block; */
  /* border-radius: 50%; */
  /* margin-left: 1em;
  padding: 1em; */
  /* background-image: linear-gradient(to bottom right,rgb(207, 175, 244), rgb(221, 11, 204));  */
  /* width: 20em; */
  /* height: 8em; */
  /* z-index: 99; */
}

.hero-title {
  font-size: 1em;
  text-align: left;
}


/* ABOUT */


.about-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding-top: 1em;
}

.hero-image {
  margin: 10em auto 0;
  padding: 2em 1em;
  border-radius: 25%;
  grid-column: 2 / span 1;
}

.about-container h1 {
  grid-column: 1 / span 1;
  grid-row: 1 / span 1;
  padding: 2em 2em 2em 2.5em;
}

.about-container h2 {
  font-size: 1.5em;
  padding: 1em;
  margin-top: 8em;
  margin-left: 2.2em;
  grid-column: 1 / span 1;
  grid-row: 1 / span 1;
}

.about-container p {
  margin: 17em 0 0 3em;
  padding: .5em 2em;
  grid-column: 1 / span 1;
  grid-row: 1 / span 1;
}

.about-container p span {
  font-size: .5em;
}

/* PROJECTS */

.projects-container h1 {
  padding: 2em 2em 2em 2.5em;
}

.project-container {
  /* background-color: rgb(207, 175, 244); */
  border-top: 1px solid rgb(207, 175, 244);
  margin: 0 5em 5em;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.project-container img {
  grid-column: 2 / span 1;
  grid-row: 2 / span 1;
  /* padding: 0 1em; */
  margin: 0 auto;
  width: 100%;
}

.project-container h1 {
  padding: .5em 1em;
  grid-column: 1 / span 2;
  grid-row: 1 / span 1;
}

.project-container p {
  font-size: 1.25em;
  padding: 0 1.5em;
  margin: auto;
  grid-column: 1 / span 1;
}

.project-container ul {
  font-size: 1em;
  padding: 1em 2.5em;
  grid-column: 1 / span 2;
}

.button-container {
  margin-top: 5em;
  grid-column: 1 / span 2;
  grid-row: 1 / span 1;
}

.button-container button {
  font-size: .35em;
  text-align: center;
  margin: 0 1em;
}


.project-container_two {
  /* background-color: rgb(207, 175, 244); */
  border-top: 1px solid rgb(207, 175, 244);
  margin: 0 5em 5em;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.project-container_two img {
  grid-column: 1 / span 1;
  grid-row: 2 / span 1;
  padding: 0 1.5em;
  width: 100%;
  /* margin: 0 auto; */
}

.project-container_two h1 {
  padding: .5em 1em;
  grid-column: 2 / span 1;
  grid-row: 1 / span 1;
  text-align: right;
}

.project-container_two .project-info {
  font-size: 1.25em;
  padding: 0 1.5em;
  margin: auto;
  grid-column: 2 / span 1;
}

.project-container_two ul {
  font-size: 1em;
  padding: 1em 2.5em;
  grid-column: 1 / span 2;
}

.project-container_two .button-container {
  margin-top: 5em;
  grid-column: 2 / span 1;
  grid-row: 1 / span 1;
  text-align: right;
}


/* CONTACT */

.contact-container h1 {
  padding-left: 2.5em;
}

.social-container {
  position: relative;
  text-align: center;
  bottom: 6.5em;
}

i {
  font-size: 2em;
  padding: .5em 1em;
}

.social-container a:hover {
  color: rgb(207, 175, 244);
}


/* FOOTER */


footer {
  padding: .25em;
  text-align: left;
  color: white;
  background-color: rgb(77, 77, 77);
}

footer p {
  margin-left: 1.5em;
}


@media screen and (min-width: 320px) and (max-width: 745px) {

  .about-container {
    display: block;
  }

  .hero-image {
    width: 80%;
    display: block;
    margin: 0 auto;
    padding: 0;
  }

  .about-container h1 {
    padding: 2em 0 0 .5em;
  }

  .about-container h2 {
    margin: 0 auto;
    padding: 1.25em;
  }

  .about-container p {
    margin: 0 auto;
  }

  .projects-container h1 {
    padding: 2em 0 0 .5em;
  }

  .project-container {
    display: block;
    margin: 1.5em;
  }

  .project-container_two {
    display: block;
    margin: 1.5em;
  }

  .project-container h1 {
    font-size: 1.5em;
    text-align: right;
    padding: 1em 1em 0 0;
  }

  .project-container_two h1 {
    font-size: 1.5em;
    text-align: left;
    padding: 1em 0 0 1em;
  }
  
  .project-container img {
    padding-bottom: 1em;
    margin: 0 auto;
  }

  .project-container_two img {
    padding-bottom: 1em;
    margin: 0 auto;
  }

  .project-container p {
    font-size: 1em;
  }

  .project-container_two .project-info p {
    font-size: 1em;
  }

  .button-container {
    position: relative;
    margin: 0;
    margin-bottom: .5em;  
    text-align: right;
  }

  .project-container_two .button-container {
    position: relative;
    margin: 0;
    margin-bottom: .5em;
    text-align: left;
  }

  .contact-container {
    display: grid;
    grid-template-columns: 1fr 2fr;
    margin: 1em 0;
  }

  .contact-container h1 {
    padding-left: 1em;
    margin: auto 0;
  }

  .social-container {
    margin: 0;
    position: static;
    text-align: left;
  }

  footer {
    font-size: .75em;
  }
};